*{
  font-family: "Pacifico", cursive;
}
#bdy{
  background-image: url("https://t4.ftcdn.net/jpg/08/51/78/05/360_F_851780569_TRUQtOZ2Py5uplq1Xg20IJo60sL3TKFM.jpg");
  background-repeat: none;
  background-size: 100%;
}